<form class="form-inline container">
  <div class="form-group mb-2 float-right">
      <a routerLink="new" class="btn btn-outline-success "><i class="fas fa-address-book"></i> Novo Usuário </a>
  </div>
</form>

<div class="containar ">
  <table class="table table-striped container table-hover ">
      <thead class="bg-info text-light">
          <tr class="text-center">
              <th>#</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Email</th>
              <th>Data nasc</th>
              <th>Escolaridade</th>
              <th>Ações</th>
          </tr>
      </thead>
      <tbody *ngIf="users && users.length">
          <tr class="text-center" *ngFor="let users of users; index as i"> 
              <td>{{users.id}}</td>
              <td>{{users.name}}</td>
              <td>{{users.surname}}</td>
              <td>{{users.email}}</td>
              <td>{{users.birthDate}}</td>
              <td>{{users.education.educations}}</td>
              <td>
                  <a [routerLink]="[users.id,'edit']" class="btn btn-outline-info btn-sm mr-2 "><i class="fas fa-user-edit"></i> Editar</a>
                  <a (click)="deleteUsers(users.id)" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Excluir </a> 
              </td>        
          </tr>
      </tbody>
      <tfoot *ngIf="!users.length" >
          <tr>
              <td colspan="6">Nenhum Usuario encontrado!</td>
          </tr>
      </tfoot>
  </table>
</div>