<form class="form-inline container">
    <div class="form-group mb-2">
        <a routerLink="insert" class="btn btn-outline-success"><i class="fas fa-address-book"></i> Novo Usuário </a>
    </div>
</form>

<div class="containar">
    <table class="table table-striped container border hover">
        <thead class="thead-dark">
            <tr >
                <th>#</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Escolaridade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody *ngIf="usuarios && usuarios.length">
            <tr *ngFor="let users of usuarios; index as i"> 
                <td>{{usuarios[i].id}}</td>
                <td>{{usuarios[i].name}}</td>
                <td>{{usuarios[i].surname}}</td>
                <td>{{usuarios[i].email}}</td>
                <td>{{usuarios[i].education.educations}}</td>
                <td>
                    <button (click)="getUsuario(usuarios[i].id)" class="btn btn-outline-warning"><i class="far fa-edit"></i> Editar </button> |
                    <button (click)="deleteUsuario(usuarios[i].id)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Excluir </button>
                </td>        
            </tr>
        </tbody>
        <tfoot *ngIf="!usuarios.length" >
            <tr>
                <td colspan="6">Nenhum Usuario encontrado!</td>
            </tr>
        </tfoot>
    </table>
</div>